*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.courses h1{
    padding-top: 2.5em;
    text-align: center;
    font-size: 35px;
    color: rgb(51, 43, 43);
}
.lineDirection{
    /* margin-top: 5px; */
    left: 46%;
    position: relative;

}
.horizontal{
    display: inline-flex;
    gap: 2px;
}
.horizontal .horizontalSmall hr{
    width: 5px; 

}
.horizontal hr{
    width: 60px;
}

.horizontal small hr{
    width: 5px;
}
.shortDescription{
    padding: 20px 14em;
    font-size: 18px;
    text-align:justify;
}
.shortDes{
    text-align: center;

}



