*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.eventInfo{
    width: 80%;
    margin: auto;
    
}
.eventInfoMain h1{
    font-size: 40px;
    font-weight: 600;
    font-family: serif;
    color: #111111;
    margin-top: 70px;
    text-transform: capitalize;
    font-weight: 600; 
    
}
.horizontalEventInfo{
    margin: 10px 10px;
    display: inline-flex;
    gap: 5px;
}
.horizontalEventInfo .firstInfo{
    width: 5px;
}
.horizontalEventInfo .secondInfo{
    width: 60px;
}
.eventDetails{
    display: flex;
    gap: 80px;
    margin-top: 80px;
}
.upcomingEvent{
    display: flex;
    gap: 30px;
}
.calender .date{
    padding: 10px 30px;
    background-color: #ef5f5f;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
}

.calender p{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #111111;
    padding: 10px 10px;
    bottom: 20px;
    position: relative;
    text-align: center;

}
.addressInfo h2{
    font-size: 22px;
    color: #0e0d0de0;
    font-family: serif;
    text-transform: capitalize;
}
.eventImage img{
    width: 60px;
    height: 40px;
}
