*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.support{
    background-color: rgb(71, 192, 192);
    bottom: 10px;
    position: relative;
}
.supportSection{
    display: flex;
}