*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.support{
    background-color: rgb(71, 192, 192);
    bottom: 10px;
    position: relative;
}
.supportSection{
    display: flex;
}
.courseIntegrated{
    width: 450px;
    height: 350px;
    padding: 20px 20px;
    background-color: #fb4;
}

.bookIcon{
    color: #fff;
    margin-top: 4em;
    margin-left: 9em;
}
.courseIntegrated h1{
    color: #fff;
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
}
.videoSupport{
    width: 450px;
    height: 350px;
    padding: 20px 20px;
    background-color: #2bcc70;

}
.cleanSupport{
    width: 450px;
    height: 350px;
    padding: 20px 20px;
    background-color: #ef5f5f;
}