*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.chooseInfo{
    width: 80%;
    margin: auto;
    margin-top: 60px;
}
.infoHead h1{
    font-size: 40px;
    text-transform: capitalize;
    color: #262626;
    font-weight: 600;
    font-family: sans-serif;
}
.horizontal{
    display: inline-flex;
}
.horizontal .first{
    width: 5px;
}
.horizontal .second{
    width: 60px;
}
