*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.infoHead h1{
    font-size: 40px;
    text-transform: capitalize;
    color: #262626;
    font-weight: 600;
    font-family: sans-serif;

}
.infoHead p{
    width: 400px;
    text-align: justify;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #111;
    padding: 10px;
    
}

.horizontal{
    display: inline-flex;
}
.horizontal .first{
    width: 5px;
}
.horizontal .second{
    width: 60px;
}

/* difference usages style  */
.optionChoose{
    margin-top: 60px;
    
}
.optionsHead{
    display: inline-flex;
    gap: 25px;
   

}
.optionsHeadLearning{
    display: inline-flex;
    gap: 20px;

}
.iconIs{
    bottom: 10px;
    position: relative;
    font-size: 60px;
    color: rgb(238, 165, 165); 
    
}

.shortDescriptionChoose h5{
    font-size: 21px;
    color: #262626;
    font-family: serif;
    font-weight: 700;
    width: 400px;
}
.shortDescriptionChoose span
{
    font-size: 18px;
    color: #212529;
    line-height: 22px;
    text-align: left;
    font-weight: 400;
}

/* learning part  */
.optionsHeadLearning{
    margin-top: 10px;
    display: flex;
}

