*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.chooseInfo{
    width: 80%;
    margin: auto;
    margin-top: 60px;
}
.infoHead h1{
    font-size: 40px;
    text-transform: capitalize;
    color: #262626;
    font-weight: 600;
    font-family: sans-serif;
}
.infoHead p{
    width: 400px;
    text-align: justify;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #111;
    
}

.horizontal{
    display: inline-flex;
}
.horizontal .first{
    width: 5px;
}
.horizontal .second{
    width: 60px;
}

/* difference usages style  */

.optionsHead{
    margin-top: 60px;
}

