 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .footer{
    margin-top: 80px;
 }
 .footerHead{
    height: 400px;
    background-image: url('../../Assets/Image/Footer/Footer.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
 }

 .footerHead h1{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    font-family: sans-serif;
    text-transform: capitalize;
    text-align: center;
    padding-top: 3em;
    text-shadow: 1px 1px #d3c9c9;
    
 }

 .groupAll{
    margin-top: 50px;
    margin-left: 22em;
    display: flex;
    gap: 30px;
 }
 .groupAll a{
    text-decoration: none;
    color: #111;
    padding: 10px 20px;
    background-color: #fff;
    font-weight: 600;
    font-size: 20px;

 }