*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heroVideo{
    width: 550px;
    height: 460px;
}

.videoSet{
    margin-top: 10px;
}

.pulseVideo{
   align-items: center;
   justify-content: center;
   position: relative;
}